* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
}

.admin-container {
    display: grid;
    margin: 0 auto;
}