* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.image-error {
    margin: 30px;
    width: 200px;
    height: 200px;
}

h2 {
    font-size: 3rem;
    margin: 40px;
    color: #283747;
}

h1 {
    margin: 20px;
    color: #283747;
}