* {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    margin-top: 150px;
    background: #10599D;
}

footer .footer-container {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

footer .footer-container .footer-sec h2 {
    position: relative;
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .footer-container .footer-sec h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: white;
}

footer .footer-container .footer-sec p {
    color: white;
}

footer .footer-sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 10px;
}

footer .footer-sci li {
    list-style: none;
}

footer .footer-sci li a:hover {
    background: #296d6a;
}

footer .footer-sci li a {
    width: 48px;
    height: 48px;
    background: white;
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}

footer .footer-sci li a .fa {
    font-size: 20px;
    color: white;
}

footer .links {
    position: relative;
}

footer .links li {
    list-style: none;
}

footer .links li a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: all 0.35s;
}

footer .links li a:hover {
    color: #45B39D;
    margin-left: 10px;
    transition: all 0.35s;
}

footer .footer-info {
    position: relative;
}

footer .footer-info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .footer-info li span:nth-child(1) {
    color: white;
    font-size: 20px;
}

footer .footer-info li span {
    color: white;
}

footer .footer-info a {
    text-decoration: none;
    color: white;
}

footer .footer-info a:hover {
    color: #45B39D;
}

.footer-copyrightText {
    width: 100%;
    background: #10599D;
    padding: 8px 100px;
    text-align: center;
    color: white;
}

@media (max-width: 991px) {
    footer {
        padding: 40px;
    }

    footer .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .copyrightText {
        padding: 8px 40px;
    }
}

@media (max-width: 768px) {
    footer .footer-container {
        grid-template-columns: repeat(1, 1fr);
    }
}