* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
}


.header-text {
    min-height: 55vh;
    width: 100%;
    position: relative;
}

.text-box {
    width: 90%;
    color: #2E4053;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #2E4053;
}

.hero-button {
    display: inline-block;
    text-decoration: none;
    color: #2E4053;
    border: 1px solid #2E4053;
    border-radius: 5px;
    padding: 12px 34px;
    background: transparent;
    cursor: pointer;
}

.hero-button:hover {
    border: 1px solid #5487fa;
    background: #88b6e9;
    transition: 1s;
}

.line-separator-header {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    color: #2E4053;
}

.line-separator {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 7%;
    color: #2E4053;
}


.benefits {
    width: 95%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

.benefits h1 {
    font-size: 36px;
    font-weight: 600;
    color: #2E4053;
}


.benefits-row {
    padding: 1%;
    display: flex;
    margin: auto;
}

.benefits-tile {
    width: auto;
    height: auto;
    align-items: center;
    margin: 1% 1.5%;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #2E4053;
    font-size: 1.5rem;
}


.benefits-tile:hover {
    background: white;
    box-shadow: 10px 10px 20px #2E4053;
    transition: all 400ms ease;
}

.benefits-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #2E4053;
}

.benefits-data i {
    font-size: 3rem;
    padding: 3%;
    color: #2E4053;
}

.faculties {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 2%;
}

.faculties h1 {
    font-size: 36px;
    font-weight: 600;
    color: #2E4053;
}

.faculties p {
    color: #2E4053;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}


.faculty-row {
    display: flex;
    margin: auto;
    padding-top: 2%;
}

.faculty-score-tile {
    align-items: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #2E4053;
    font-size: 1.5rem;
}


.faculty-score-tile:hover {
    background: white;
    box-shadow: 10px 10px 20px #2E4053;
    transition: all 400ms ease;
}

.faculty-container .faculty-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faculty-col {
    color: #2E4053;
    padding: 5px;
}

.faculty-logo {
    width: 50%;
    height: 50%;
    margin-bottom: 5%;
}