* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: white;
}

.prev-text {
    color: #808B96;
    text-align: left;
    width: 80%;
}


.container {
    display: flex;
    height: 650px;
    width: 1050px;
    margin: 50px auto auto;
    box-shadow: 15px 15px 20px #2E4053;
    border-radius: 20px;
}

.input-hint-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: whitesmoke;
    height: auto;
    width: 60%;
    margin: 20px auto auto;
    border-radius: 20px;
    box-shadow: 15px 15px 20px  #2E4053;
}

.input-hint-header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    color: #2E4053;
    font-size: 3rem;
}


.input-hint-message {
    display: flex;
    flex-direction: column;
    color: #2E4053;
    font-size: 1.5rem;
    padding: 2%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: justify;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 7px 0 0 7px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 7px 0 0 7px;
}

.form h1 {
    font-size: 3rem;
    margin: 40px;
    color: #283747;
}


.box {
    padding: 12px;
    width: 100%;
    margin: 10px 0;
    outline: none;
    border-radius: 10px;
}

.form-sign-up-btn {
    padding: 20px 30px;
    width: 45%;
    background-color: #2460da;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}

.form-sign-up-btn:hover {
    cursor: pointer;
    background-color: #17A589;
}

.input-hint-row .column-input-hint-bottom {
    float: left;
}

.show-input-hint-button {
    color: #808B96;
    text-align: left;
    text-decoration: none;
    width: 60%;
    padding-bottom: 7px;
}

.show-input-hint-button:hover {
    color: #45B39D;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 325px;
}

.column-bottom {
    float: left;
    padding: 20px 10px;
}


.sign-in-button {
    color: #2460da;
    text-align: left;
    text-decoration: none;
    width: 80%;
}

.sign-in-button:hover {
    color: #45B39D;
}

.image-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: whitesmoke;
    border-radius: 0 7px 7px 0;
}

.image {
    width: 300px;
    height: 300px;
}