* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
}

.admin-container {
    display: grid;
    margin: 0 auto;
}

.statistic-row {
    display: flex;
    margin: auto;
}

.statistic-tile {
    width: 250px;
    margin: 30px;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #2E4053;
}

.statistic-tile .statistic-name {
    padding-top: 5px;
    color: #2E4053;
    font-size: 1.2em;
    font-weight: bolder
}

.statistic-tile .statistic-value {
    padding-top: 5px;
    color: #2E4053;
    font-size: 1.1em;
    font-weight: bolder
}

.statistic-tile i {
    text-decoration: none;
    font-size: 1.6rem;
    color: #2E4053;
}

.statistic-tile:hover {
    background: white;
    box-shadow: 7px 7px 12px #2E4053;
    margin-top: 1rem;
    transition: all 300ms ease;
}

.statistic-tile:hover .statistic-name {
    color: #2460da;
}

.statistic-tile:hover .statistic-value {
    color: #2460da;
}

.statistic-tile:hover i {
    color: #2460da;
}

.diagram-row {
    display: flex;
}

.diagram-row .applications-diagram {
    width: 35%;
    margin: 3% 5% 3% 3%;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #2E4053;
}

.diagram-row .applications-diagram:hover {
    box-shadow: 7px 7px 12px #2E4053;
    transition: all 400ms ease;
}

.diagram-row .users-diagram {
    width: 65%;
    margin: 3% 3% 3% 5%;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #2E4053;
}

.diagram-row .users-diagram:hover {
    box-shadow: 7px 7px 12px #2E4053;
    transition: all 400ms ease;
}

.text-title {
    display: flex;
    margin: auto;
}


.text-title h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color: #2E4053;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}


.faculty-score-row {
    display: flex;
    margin: auto;
    width: 90%;
}

.faculty-score-container {
    display: block;
    align-items: center;
    width: auto;
    height: auto;
    background: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #2E4053;
    margin: auto;
    padding: 20px;
}

.faculty-score-container:hover {
    background: white;
    box-shadow: 10px 10px 20px #2E4053;
    transition: all 400ms ease;
}


.faculty-score-container .faculty-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.faculty-score-container .faculty-data .icon i {
    font-size: 2.3rem;
    color: #2E4053;
}

.faculty-score-container .faculty-data .faculty-value-name {
    height: 30px;
    color: #696666;
    font-size: 25px;
    padding: 5px;
}

.faculty-score-container .faculty-data .faculty-value {
    height: 30px;
    font-size: 20px;
    padding: 5px;
}

.edit-faculty {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 35%;
    height: 7%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: #2460da;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
    text-decoration: none;
}

.edit-faculty:hover {
    cursor: pointer;
    background-color: #17A589;
}